$lightred: #f12e50;
$red: #ee0c4b;
$darkred: #c80e3d;

* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}

.main {
  position: absolute;
  width: 100%;
  max-width: 30em;
  min-width: 15em;
  min-height:350px;
  overflow: hidden;
    background :#e3e3e3;
    text-align: center;
    font-weight: 700;
    line-height: 1.2em;
    border-radius:5px;
  }
  .title {
    text-align: center;
    font-weight: 700;
    line-height: 1.2em;
    padding: 1em;
  }
.section {
  position: relative;
  width: 100%;
  border-bottom: 5px solid #e3e3e3;
  border-left: 2px solid #e3e3e3;  
  border-right: 2px solid #e3e3e3;
  }
.button{
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    height: 3em;
    width: 3em;
    outline: 0;
    border: 0;
    background: none;
    text-indent: -9999%;
    pointer-events: none;;
    }
.button:after {
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 4px;
      border-radius: .3em;
      background: #ee0c4b;
      transform-origin: 50%;
      top: 50%;
      left: 50%;
      transition: all .25s ease-in-out;
      transform: translate(-75%, -50%) rotate(-45deg);
    }
.button:before {
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 4px;
      border-radius: .3em;
      background: $red;
      transform-origin: 50%;
      top: 50%;
      left: 50%;
      transition: all .25s ease-in-out;
      transform: translate(75%, -50%) rotate(45deg);
    }

     .section.open .button:before, .section.open .button:after {
      height: 14px;
    }
    .section.open .button:before {
      transform: translate(0%, -50%) rotate(-45deg);
    }
    .section.open .button:after {
      transform: translate(0%, -50%) rotate(45deg);
    }
 .sectionopen .articlewrap {
    height: 100%;
  }
.articlewrap {
  height:0px;
  overflow: hidden;
  transition: all .2s ease-in;
}

.sectionhead {
  width: 100%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1em;
  padding-right: 2.1em;
}

.article {
  padding: 1em;
  color: #333;
  line-height: 1.3;
}