#headerTop {
  background: #e61e50;
  height: 50px;
}

#imgStyle{
    max-height: 225%;
}
#branding {
    background: transparent url(/sigmalogo.jpg) top left no-repeat;
    float: left;
    display: block;
    height: 22px;
    width: 275px;
    text-indent: -9000px;
}
.text-center{
	font-size:50px;
	color:white;
}
.logo {
	display: block;
}

.dmenu
{
	display: none;
}

.dmenu:hover
{
	display: block;
}

