#headerTop {
    background: rgba(88, 117, 1, 0.77);
    height: 100px;
}

#branding {
    background: transparent url(/sigmalogo.jpg) top left no-repeat;
    float: left;
    display: block;
    height: 30px;
    width: 275px;
    text-indent: -9000px;
}
#imageStyle{
    max-height: 345%;
    margin-left:45px;
}
.logo {
	display: block;
}

.toolBox {
	width:15%;
	height:687px;
	padding:10px;	
	border:1px solid #aaaaaa;
	border-radius:5px;
	margin-top:10px;
	position: absolute;	
	//margin-left:15%;
	float:left;
	background-color :rgba(28, 210, 82, 0.09);
}
.editor {
	width:69%;
	height:687px;
	border:1px solid #aaaaaa;
	border-radius:5px;
	position: absolute;
	margin-top:10px;
	margin-left:15.5%;
	margin-right: 0.5%;
	background-color :rgba(28, 210, 82, 0.09);
}
.editProperty {
	width:15%;
	height:687px;
	border:1px solid #aaaaaa;
	border-radius:5px;
	position: absolute;
	margin-top:10px;
	margin-left:85%;	
	background-color :rgba(28, 210, 82, 0.09);
}
.bold{
	font-weight:bolder;
	font-size:600;
}
.pageContent {
	width:460px;
	height:410px;	
	border-radius:10px;
	margin-top:10px;
	margin-left:10px;
	border:1px solid #aaaaaa;
	border-radius:10px;
	background-color :rgba(28, 210, 82, 0.09);
}
.right {
	float:left;
}
.solidBorderedDiv{	
	border:1px solid #aaaaaa;
	border-radius:10px;
}
.pageHeader{	
	border:1px solid #aaaaaa;
	border-radius:10px;
	background-color: #D9D6D6;
	height:100px;
	text-align:center;
}
.pageHeaderContentPane{	
	border:1px dashed #aaaaaa;
	border-radius:10px;
	background-color:white;
	min-height:60px;
}
.SideBar{
	border:1px dashed #aaaaaa;
	border-radius:10px;
	width:100px;
	height:350px;
	float:left
}
.center{
	border:1px dashed #aaaaaa;
	border-radius:10px;
	width:350px;
	height:350px;
	float:left;
	background-color :rgba(28, 210, 82, 0.09);
}
.dropdown:hover .dropdownmenu{
	display: block
}

.dmenu
{
	display: none;
}

.dmenu:hover
{
	display: block;
}
